@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url('../images/escheresque_ste.png') repeat center;
}

/*
*********************************
* Bar Graph
*********************************
*/

.bar {
    --aspect-ratio: 2.75/1;
}

.bar tr {
    background: #F3F4F6 !important;
    border-bottom: solid 3px white !important;
}

.charts-css.bar:not(.stacked) tbody tr td, 
.charts-css.column:not(.stacked) tbody tr td {
    padding-right: 1rem;
    /* color: white; */
}

.charts-css tbody tr:nth-child(1) td {
    background: var(--type-color-fire) !important;
    color: white;
}

.charts-css tbody tr:nth-child(2) td {
    background: var(--type-color-electric) !important;
    color: black;
}

.charts-css tbody tr:nth-child(3) td {
    background: var(--type-color-dragon) !important;
    color: white;
}

.charts-css tbody tr:nth-child(4) td {
    background: var(--type-color-grass) !important;
    color: white;
}

.charts-css tbody tr:nth-child(5) td {
    background: var(--type-color-rock) !important;
    color: black;
}

.charts-css tbody tr:nth-child(6) td {
    background: var(--type-color-steel) !important;
    color: white;
}

/*
*********************************
* Colors
*********************************
*/

:root {
    --color-red: #E22536;
    --type-color-bug: #91A119;
    --type-color-dark: #624D4E;
    --type-color-dragon: #5060E1;
    --type-color-electric: #FAC000;
    --type-color-fairy: #EF70EF;
    --type-color-fire: #E62829;
    --type-color-fighting: #FF8000;
    --type-color-flying: #81B9EF;
    --type-color-ghost: #704170;
    --type-color-grass: #3FA129;
    --type-color-ground: #915121;
    --type-color-ice: #3DCEF3;
    --type-color-normal: #9FA19F;
    --type-color-poison: #9141CB;
    --type-color-psychic: #EF4179;
    --type-color-rock: #AFA980;
    --type-color-steel: #60A1B8;
    --type-color-stellar: #44628D;
    --type-color-water: #2980EF;
}

.bg-bug {
    background: var(--type-color-bug);
    color: white;
}

.bg-dark {
    background: var(--type-color-dark);
    color: white;
}

.bg-dragon {
    background: var(--type-color-dragon);
    color: white;
}

.bg-electric {
    background: var(--type-color-electric);
    color: black;
}

.bg-fairy {
    background: var(--type-color-fairy);
    color: white;
}

.bg-fire {
    background: var(--type-color-fire);
    color: white;
}

.bg-fighting {
    background: var(--type-color-fighting);
    color: white;
}

.bg-flying {
    background: var(--type-color-flying);
    color: white;
}

.bg-ghost {
    background: var(--type-color-ghost);
    color: white;
}

.bg-grass {
    background: var(--type-color-grass);
    color: white;
}

.bg-ground {
    background: var(--type-color-ground);
    color: white;
}

.bg-ice {
    background: var(--type-color-ice);
    color: white;
}

.bg-normal {
    background: var(--type-color-normal);
    color: white;
}

.bg-poison {
    background: var(--type-color-poison);
    color: white;
}

.bg-psychic {
    background: var(--type-color-psychic);
    color: white;
}

.bg-rock {
    background: var(--type-color-rock);
    color: white;
}

.bg-steel {
    background: var(--type-color-steel);
    color: white;
}

.bg-stellar {
    background: var(--type-color-stellar);
    color: white;
}

.bg-water {
    background: var(--type-color-water);
    color: white;
}